@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --c-primary: #1c1931;
    --c-secundary: #2a2d85;
}

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(300deg, var(--c-primary) 5%, var(--c-secundary) 75%);
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100%;
    height: 20rem;
    /* background: #ffffff20; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 18rem;
    background: #00000050;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: .3rem .3rem .8rem #1c1931EE;
    transition: box-shadow .5s, background .5s;
    cursor: pointer;
}

.card-img{
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 70%;
    min-height: 7rem;
    border-radius: .8rem;
    transition:  background .6s, border .3s, translate .6s, scale .8s;
    box-shadow: .3rem .3rem .8rem transparent;
}

.card-title{
    letter-spacing: .05rem;
    transition:  .7s;
}

.card-paragraph{
    display: -webkit-box;
    margin-top: -3rem;
    width: 80%;
    max-height: 0%;
    overflow: hidden;   
    transition:  max-height .3s;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
}

.card:hover{
    box-shadow: .3rem .3rem 1rem #2a2d8570;
    background: #ffffff20;
}

.card:hover .card-img{
    /* box-shadow: 0 0 1rem var(--c-secundary); */

}

.card:hover .card-img{
    translate: 0 -2.5rem;
    min-height: 7.5rem;
    scale: 1.15;
    background: #ffffff20;
}

.card:hover .card-title{
    translate: 0 -2.5rem;
}

.card:hover .card-paragraph{
    max-height: 100%;
    transition:  max-height 1s;
}

